In [1]:
#data is taken from cricsheet for odi matches
import pandas as pd
import numpy as np
data=pd.read_csv('odi.csv')
data.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,0,0,301
1,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,0,0,301
2,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,4,0,0,0,301
3,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,6,0,0,0,301
4,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,6,0,0,0,301

In [2]:
x = data.iloc[:,[7,8,9,12,13]].values #Input features used are runs,wickets,overs,striker,non-striker
y = data.iloc[:, 14].values #Label as total runs

In [3]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state = 0)

In [4]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [5]:
#Random Forest

In [6]:
# Training the dataset using Randomforest
from sklearn.ensemble import RandomForestRegressor
reg=RandomForestRegressor(n_estimators=100,max_features=None)
reg.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features=None, max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [7]:
# Testing the dataset on trained model
y_pred=reg.predict(x_test)
score=reg.score(x_test,y_test)*100
print("R square value(accuracy):",score)

R square value(accuracy): 80.6677180066

In [8]:
# Testing with a custom input
new_pred= reg.predict(sc.transform(np.array([[100,0,13,50,50]])))
print("Prediction score:",new_pred)

Prediction score: [ 311.61]

In [9]:
#DECISION TREE CLASSIFIER

In [10]:
#Training the dataset using DecisonTree
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=0)
clf.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=0, splitter='best')

In [11]:
#Testing the dataset on the trained model
y_pred = clf.predict(x_test)
score = clf.score(x_test,y_test)*100
print("R square value:" , score)

R square value: 74.2832715873

In [12]:
new_pred= clf.predict(sc.transform(np.array([[100,0,13,50,50]])))
print("Prediction score:" , new_pred)

Prediction score: [303]

In [13]:
#NaiveBayes

In [14]:
#Training the dataset using NaiveBayes
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB() 
gnb.fit(x_train, y_train)

GaussianNB(priors=None)

In [15]:
#Testing the dataset on the trained model
y_pred = gnb.predict(x_test)

In [16]:
gg=gnb.score(x_test,y_test)*100
print(gg)

1.89227700199

In [ ]:
#SVM

In [17]:
##Training the dataset using SVC
from sklearn.svm import SVC # "Support Vector Classifier" 
cl = SVC(kernel='linear')

In [ ]:
#Testing the dataset on the trained model
cl.fit(x_train, y_train)
y_pred=cl.predict(x_test)
ss=cl.score(x_test,y_test)*100
print(ss)