In [1]:
#data is taken from cricsheet for odi matches
import pandas as pd
import numpy as np
data=pd.read_csv('odiw.csv')
data.tail()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total,total_wkts
350894,1188,7/10/2017,Mahinda Rajapaksa International Cricket Stadiu...,Sri Lanka,Zimbabwe,DAS Gunaratne,TL Chatara,201,8,49.2,39,0,59,18,203,NaN
350895,1188,7/10/2017,Mahinda Rajapaksa International Cricket Stadiu...,Sri Lanka,Zimbabwe,DAS Gunaratne,TL Chatara,201,8,49.3,39,0,59,18,203,NaN
350896,1188,7/10/2017,Mahinda Rajapaksa International Cricket Stadiu...,Sri Lanka,Zimbabwe,DAS Gunaratne,TL Chatara,201,8,49.4,38,0,59,18,203,NaN
350897,1188,7/10/2017,Mahinda Rajapaksa International Cricket Stadiu...,Sri Lanka,Zimbabwe,DAS Gunaratne,TL Chatara,202,8,49.5,38,0,59,18,203,NaN
350898,1188,7/10/2017,Mahinda Rajapaksa International Cricket Stadiu...,Sri Lanka,Zimbabwe,PVD Chameera,TL Chatara,203,8,49.6,38,0,59,18,203,NaN

In [2]:
for x in range(len(data.iloc[:,0])-1):
    if data.iloc[x,0] != data.iloc[x+1,0]:
        data.iloc[x,15] = data.iloc[x,8]

In [3]:
#Adding total wickets in a new column
last_wkt=8.0
for x in range(len(data.iloc[:,0])-1,0,-1):
    #print(x)
    if (np.isnan(data.iloc[x,15])==False):
        last_wkt=data.iloc[x,15]
     #   print(data.iloc[x,15],last_wkt)
    if np.isnan(data.iloc[x,15]):
      #  print(data.iloc[x,15])
        data.iloc[x,15]=last_wkt
      #  print(data.iloc[x,15])
# data.iloc[:,15]

In [4]:
data.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total,total_wkts
0,1,6/13/2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,0,0,301,8.0
1,1,6/13/2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,0,0,301,7.0
2,1,6/13/2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,4,0,0,0,301,7.0
3,1,6/13/2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,6,0,0,0,301,7.0
4,1,6/13/2006,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,6,0,0,0,301,7.0

In [6]:
x = data.iloc[:,[7,8,9,12,13]].values #Input features used are runs,wickets,overs,striker,non-striker
#y = data.iloc[:, 14].values #Label as total runs
y = data.iloc[:, 15].values #Label as total wickets

In [7]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state = 0)

In [8]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [9]:
# Training the dataset using Randomforest
from sklearn.ensemble import RandomForestRegressor
reg=RandomForestRegressor(n_estimators=100,max_features=None)
reg.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features=None, max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [13]:
# Testing the dataset on trained model
y_pred=reg.predict(x_test)
score=reg.score(x_test,y_test)*100
print("R square value:" ,round(score))
print("actual:" ,y_test)
print("prediction:" ,y_pred)

R square value: 75.0
actual: [ 10.  10.   8. ...,  10.   7.   9.]
prediction: [ 10.     9.94   7.48 ...,  10.     6.8    8.66]

In [20]:
# Testing with a custom input
new_pred= reg.predict(sc.transform(np.array([[200,1,13,50,50]])))
print("Prediction wicket:" ,new_pred)

Prediction wicket: [ 6.52]

In [21]:
#DECISION TREE CLASSIFIER

In [22]:
# Training the dataset using DecisionTree
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=0)
clf.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=0, splitter='best')

In [23]:
# Testing the dataset on trained model
y_pred = clf.predict(x_test)
score = clf.score(x_test,y_test)*100
print("R square value:" , score)

R square value: 79.3359931604

In [24]:
# Testing with a custom input
new_pred= clf.predict(sc.transform(np.array([[100,0,13,50,50]])))
print("Prediction score:" , new_pred)

Prediction score: [ 10.]

In [ ]:
#NAIVE BAYES

In [25]:
#Training the dataset using Naive Bayes
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB() 
gnb.fit(x_train, y_train)

GaussianNB(priors=None)

In [26]:
# Testing the dataset on trained model
y_pred = gnb.predict(x_test)

In [31]:
gg=gnb.score(x_test,y_test)*100
print("accuracy",gg)

accuracy 33.915645483